.coronavirus{
  position: relative;
    text-align: left;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #000000;
    top:-30px;
}
.pandemic{
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
    height: auto;
    background-color: #000000;
    padding-left: 25px;
    padding-bottom: 45px;
    top:-80px;
}
.back{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: relative;
  top:-100px;
  border-radius: 5px;
}
  .cases{
    font-size: 60px;
    width: 100%;
    height: auto;
  }
  .total{
    position: relative;
    color: #fa9703;
    top:-265px;
    left:440px;
    display: block;
  }
  .death{
    position: relative;
    color: #fd0404;
    top:-395px;
    left:695px;
  }
  .recover{
    position: relative;
    color: #19fd04;
    top:-525px;
    margin-left:935px;
  }
  marquee{
    position: relative;
    top:-910px;
  }
.prevent{
  position: relative;
  left: 100px;
  top: -500px;
  box-sizing: border-box;  
  width: 28%;
  height: 15%;
  border-radius: 5px;
  color: rgb(45, 136, 45);
  padding-top: 0.1px;
  background:  rgba(0,189,133,.2);
  border-color: rgba(0,189,133,.2);
  box-shadow: 10px 10px 5px rgb(228, 228, 228);
}

.prevent:hover {
  transform: scale(1.05);
  background-color: rgba(2, 252, 156, 0.37);
  box-shadow: 0px 0px 0px;
}

.option_text{
  font-size: 30px;
  text-align: center;
  padding-bottom: 0px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description{
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 15px;
}


.symptoms{
  position: relative;
  left: 550px;
  top: -734px;
  box-sizing: border-box;  
  width: 28%;
  height: 15%;
  border-radius: 5px;
  color: rgb(150, 54, 54);
  padding-top: 0.1px;
  background: rgba(255,79,79,.2);
  border-color: rgba(255,79,79,.2);
  box-shadow: 10px 10px 5px rgb(228, 228, 228);
}
.symptoms:hover {
  transform: scale(1.05);
  background-color: rgba(235, 20, 20, 0.2);
  box-shadow: 0px 0px 0px;
}

.myths{
  position: relative;
  left: 1000px;
  top: -968px;
  box-sizing: border-box;  
  width: 28%;
  height: 15%;
  color: rgb(15, 17, 116);
  padding-top: 0.1px;
  background: rgba(37,127,249,.2);
  border-color: rgba(37,127,249,.2);
  box-shadow: 10px 10px 5px rgb(228, 228, 228);
  border-radius: 5px;
}
.myths:hover {
  transform: scale(1.05);
  background-color: rgba(5, 82, 190, 0.2);
  box-shadow: 0px 0px 0px;
}
table{
  position: relative;
  top:-850px;
}
.stats{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
.stats td,  th {
  border: 5px solid rgb(255, 255, 255);
  padding: 8px;
  border-radius: 20px;
}
.stats tr:nth-child(even){background-color: #9cc8f127;}
.stats tr:hover {background-color: rgba(0, 217, 255, 0.116);}

.stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(28, 23, 75);
  color: white;
}
.from{
  top:-130px;
  text-align: right;
  right: 220px;
  position: relative;
}