.news{
    border: solid rgba(108,117,125,.0627451);
    width: 40%;
    text-align: left;
    background-color: rgba(108,117,125,.0627451);
    border-radius: 5px;
    color: #6c757d;
    text-transform: uppercase;
    font-family: "archia";
    animation: mymove 1s;
    animation-fill-mode: forwards;
    position: relative;
    top:-80px;
}

@keyframes mymove {
  from {margin-left: 0%;}
  to {margin-left: 30%;}
}
h4{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}
h3{
    text-align: center;
    top:-100px;
    position: relative;
    font-size: 26px;
}